Package: gwdg-cloud-share-server-test
Version: 9.5.200gwdg2
Architecture: all
Maintainer: GWDG <cloudshare@gwdg.de>
Installed-Size: 374384
Conflicts: gwdg-cloud-share-server
Section: misc
Priority: optional
Homepage: http://cloudshare.gwdg.de/jumpto/
Description: GWDG Cloud Share PowerFolder-Server
 Installs pre-configured PowerFolder-Server software for
 GWDG Cloud Share.
