Package: gwdg-cloud-share-repo
Version: 2015.01.06-1
Architecture: all
Maintainer: GWDG <powerfolder@gwdg.de>
Installed-Size: 80
Depends: apt, gnupg
Section: misc
Priority: important
Description: "Package to install GWDG Cloud Share gpg key and apt repo"
