Package: gwdg-cloud-share-server-repo
Version: 2015.01.15-3
Architecture: all
Maintainer: GWDG <cloudshare@gwdg.de>
Installed-Size: 80
Depends: apt, gnupg
Section: misc
Priority: important
Description: "Package to install GWDG Cloud Share Server gpg key and apt repo"
