Package: gwdg-cloud-share-server
Version: 10.3.232gwdg1
Architecture: all
Conflicts: gwdg-cloud-share-server-test
Installed-Size: 374384
Maintainer: GWDG <cloudshare@gwdg.de>
Section: misc
Priority: optional
Homepage: http://cloudshare.gwdg.de/jumpto/
Description: GWDG Cloud Share PowerFolder-Server
 Installs pre-configured PowerFolder-Server software for
 GWDG Cloud Share.
