Package: gwdg-cloud-share-server
Version: 9.3.137gwdg3
Architecture: all
Maintainer: GWDG <cloudshare@gwdg.de>
Installed-Size: 684760
Section: misc
Priority: optional
Homepage: http://cloudshare.gwdg.de/jumpto/
Description: GWDG Cloud Share PowerFolder-Server
 Installs pre-configured PowerFolder-Server softare for
 GWDG Cloud Share.
